[submodule "thirdparty/PlaneRecNet"]
	path = thirdparty/PlaneRecNet
	url = https://github.com/EryiXie/PlaneRecNet
[submodule "thirdparty/MiDaS"]
	path = thirdparty/MiDaS
	url = https://github.com/isl-org/MiDaS
[submodule "thirdparty/mseg-api"]
	path = thirdparty/mseg-api
	url = https://github.com/mseg-dataset/mseg-api
